<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'palette.ico'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Analyze Images with the power of AI">
    <meta name="og:image" content="../../assets/images/pollock_preview.png">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Pollock AI" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Analyze Images with the power of AI" />
    <meta property="og:site_name" content="Pollock AI" />

    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/modal_analyze' %>
    <%= render 'layouts/modal_generate' %>
    <div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
